body {
  margin: 0;
  height: max-content;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #f2e2cf;
  background-size: cover;
}

/* url(/src/static/media/bg.6748de1d.png) */